<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background Images</key>
	<array>
		<string>blank.jpg</string>
	</array>
	<key>Display Name</key>
	<string>EMBL-Winter</string>
	<key>Folder Name</key>
	<string>embl-winter.mailstationery</string>
	<key>HTML File</key>
	<string>content.html</string>
	<key>Images</key>
	<array>
		<string>blank.jpg</string>
	</array>
	<key>Stationery ID</key>
	<string>829E5658-76EB-4AE4-A968-27A93E051808</string>
	<key>Thumbnail Image</key>
	<string>thumbnail.png</string>
</dict>
</plist>
